.filter-products {
  position: sticky;
  margin: 0;
  padding: 50px 15px 0;
  height: 100vh;
  width: 250px;

  -webkit-box-shadow: 10px 0px 28px -8px #4a4a4ade;
  -moz-box-shadow: 10px 0px 28px -8px #4a4a4ade;
  box-shadow: 10px 0px 28px -8px #4a4a4ade;

  &__title {
    margin: 20px;
  }

  &__from-to {
    display: flex;
  }

  &__from-to-item {
    width: 50%;
  }

  &__from-to-input {
    width: 60%;
    appearance: textfield;
  }

  &__from-to-input::-webkit-inner-spin-button {
    opacity: 1;
  }

  &__filter-by {
    display: flex;
    flex-direction: column;
  }
}